@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Wet+Paint&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--surface);
    text-decoration: none;
}

:root {
    // Color
    --base: #121212;
    --upper: #181818;
    --highlight: #1c3a94;
    --secondary: #497dbd;
    --error: #ff0073;
    --surface: #f2f2f2;
    --overlay: #e0e0e0;
    --hint: #b3b3b3;

    //Linear Color
    --gradiant-primary: linear-gradient(
        310deg,
        rgba(122, 153, 217, 1) 0%,
        rgba(73, 125, 189, 1) 46%,
        rgba(28, 58, 148, 1) 100%
    );
    --gradient-reversed: linear-gradient(
        310deg,
        rgba(28, 58, 148, 1) 0%,
        rgba(73, 125, 189, 1) 46%,
        rgba(122, 153, 217, 1) 100% /* Đặt màu đầu tiên ở cuối */
    );
    --gradiant-text-shadow: 1px 1px 2px rgba(122, 153, 217, 1), /* Bóng đổ đầu tiên */ 2px 2px 4px rgba(73, 125, 189, 1),
        /* Bóng đổ thứ hai */ 3px 3px 6px rgba(28, 58, 148, 1);
    --gradiant-color: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148))
    );
}

/* Thay đổi màu nền và màu chữ cho các trường input khi autofill */
input:-webkit-autofill {
    background-color: #f0f0f0 !important; /* Màu nền */
    color: var(--surface) !important; /* Màu chữ */
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s; /* Làm mượt chuyển đổi */
}

/* Thay đổi màu chữ cho các trường input khi autofill trên Firefox (sử dụng -moz-placeholder) */
input:-moz-placeholder {
    color: var(--surface) !important; /* Màu chữ */
}

/* Thay đổi màu chữ cho các trường input khi autofill trên các trình duyệt hỗ trợ */
input:-ms-input-placeholder {
    color: var(--surface) !important; /* Màu chữ */
}

body {
    background-color: var(--base) !important;
    font-family: 'Inter', serif;
    font-size: 1.6rem;
    font-optical-sizing: auto;
    color: var(--surface);
    text-rendering: optimizeSpeed;
}

.no-scroll {
    overflow: hidden;
}

.custom-toast-error {
    width: auto;
    height: 5rem;
    border-radius: 5px !important;
    background-color: var(--upper) !important;
}

.custom-body-error {
    font-size: 16px;
    font-weight: 700;
    color: var(--error);
    text-align: left;
}

.custom-progress-error {
    background-color: var(--error) !important;
}

.custom-toast-success {
    width: auto;
    height: auto;
    border-radius: 5px !important;
    background-color: var(--upper) !important;
}

.custom-body-success {
    font-size: 16px;
    font-weight: 700;
    color: var(--secondary);
    text-align: left;
}

.custom-progress-success {
    background: var(--gradiant-primary) !important;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--upper);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: var(--gradiant-color);
}

.splash {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--base);
    z-index: 1;
}

.splash-content {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    .luminart {
        font-family: 'Rubik Wet Paint', system-ui !important;
        font-size: 32px !important;
        font-weight: bold;
    }
}

.spinner {
    animation: spin 1s linear infinite;
    margin-right: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
