.detail-frame {
    margin: 90px 0 0;
}

.detail-grid {
    display: grid;
    grid-template-columns: auto 900px auto;

    .detail-discussion {
        .detail-header {
            padding-bottom: 10px;
            .detail-user {
                margin: 10px 0;
                display: flex;
                gap: 10px;
                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    background: var(--gradiant-primary) border-box;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .detail-info {
                    gap: 5px;
                    display: flex;
                    flex-direction: column;
                    .fullname {
                        display: inline-block;
                        padding: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        border-radius: 30px;
                        background: var(--gradiant-primary);
                        align-self: flex-start;
                    }

                    .create_time {
                        font-size: 12px;
                    }
                }
            }

            .detail-discussion-content {
                width: 100%;
                .detail-title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 10px;
                }

                .detail-content {
                    font-size: 14px;
                    white-space: pre-wrap;
                }
            }
        }

        .handle-discussion {
            .option-discussion {
                display: flex;
                gap: 20px;
                align-items: center;
                cursor: pointer;
                padding: 10px 0;
                border-bottom: 1px solid var(--upper);

                .favorite .yes,
                .favorite .no,
                .comment {
                    gap: 5px;
                    display: flex;
                    font-size: 16px;
                    align-items: center;
                }

                .favorite .yes {
                    color: var(--secondary);
                }
            }

            .detail-comments {
                display: flex;
                width: 100%;
                justify-content: center;

                .comments {
                    margin-top: 10px;
                    width: 100%;
                }

                .comments .check-login {
                    display: flex;
                    justify-content: center;
                }

                .comments .check-login p {
                    font-size: 25px;
                    margin: 10px 0;
                }

                .comments p {
                    font-size: 16px;
                    font-weight: bolder;
                    padding-left: 20px;
                }

                .comments .user-comment,
                .comments .list-comment {
                    display: flex;
                    gap: 10px;
                    margin-top: 10px;
                }

                .comments .list-comment .user-avatar,
                .comments .user-comment .user-avatar {
                    width: 50px;
                    height: 50px;
                    margin-left: 20px;
                    border-radius: 50%;
                }

                .comments .list-comment img,
                .comments .user-comment img {
                    width: 50px;
                    height: 50px;
                    border: 2px solid transparent;
                    border-radius: 50%;
                    object-fit: cover;
                    background: var(--gradiant-primary);
                }

                .comments .list-comment .comment-form,
                .comments .user-comment .comment-form {
                    width: 100%;
                    height: auto;
                    border-radius: 5px;
                    overflow: hidden;
                    overflow-y: auto;
                    background-color: var(--upper);
                }

                .comments .user-comment .comment-form {
                    margin-bottom: 20px;
                }

                .comments .user-comment .comment-form .choose,
                .comments .list-comment .comment-form .choose {
                    display: flex;
                    padding: 10px 20px;
                    justify-content: space-between;
                }

                .comments .list-comment .comment-form .choose .submit-button,
                .comments .user-comment .comment-form .choose .submit-button {
                    background-color: transparent;
                    border: none;
                    color: var(--surface);
                    font-size: 20px;
                }

                .comments .list-comment .comment-form .user-textfield,
                .comments .user-comment .comment-form .user-textfield {
                    width: 100%;
                    height: auto;
                    font-size: 16px;
                    position: relative;
                    border: none;
                    outline: none;
                    color: var(--surface);
                    resize: none;
                    overflow: hidden;
                    background-color: transparent !important;
                }

                .comments .list-comment .comment-form {
                    padding: 10px 0;
                    height: auto;
                }

                .comments .list-comment .comment-form .create-cmt {
                    position: relative;
                    padding: 10px 0;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                .comments .list-comment .comment-form .create-cmt .name-time {
                    display: flex;
                    align-items: center;
                    align-content: center;
                }

                .comments .list-comment .comment-form .create-cmt .name-time .tag-author {
                    display: flex;
                    width: 60px;
                    height: 20px;
                    align-items: center;
                    background: var(--gradiant-primary);
                    justify-content: center;
                    margin: 0 5px;
                    border-radius: 10px;
                }

                .comments .list-comment .comment-form .create-cmt .name-time .tag-author p {
                    font-size: 12px;
                    padding-left: 0 !important;
                }

                .comments .list-comment .comment-form .create-cmt .full-name:hover {
                    color: var(--highlight);
                }

                .comments .list-comment .comment-form .create-cmt .cmt-time {
                    font-weight: 300;
                    font-size: 12px;
                    padding-left: 10px;
                    color: var(--hint);
                }

                .comments .list-comment .comment-form .create-cmt .three-dot {
                    font-size: 15px;
                    cursor: pointer;
                    display: none;
                    padding: 0 20px;
                }

                .comments .list-comment .comment-form .user-textfield {
                    padding: 10px 20px;
                }

                .comments .user-comment .comment-form .user-textfield {
                    height: auto !important;
                    outline: none;
                    padding: 20px 20px;
                    cursor: text;
                }

                .comments .list-comment .comment-form:hover .three-dot {
                    display: block;
                }

                .comments .user-comment .comment-form .user-textfield:empty::before {
                    content: 'Add a new comment...';
                    color: #aaa;
                    pointer-events: none; /* Không thể chọn placeholder */
                    position: absolute;
                }

                .comments .user-comment .comment-form .user-textfield:not(:empty):before {
                    content: '';
                }

                .reply-comment {
                    display: none !important;
                }

                .reply-comment.active {
                    display: flex !important;
                }
            }
        }
    }
}

.handle-comment {
    position: relative;
}

.handle-comment .replies-0 .list-comment {
    margin-left: 60px;
}

.handle-comment .replies-1 .list-comment {
    margin-left: 120px;
}

.handle-comment .replies-2 .list-comment {
    margin-left: 180px;
}

.handle-comment .three-dot-option {
    display: none;
    position: absolute;
    right: -130px;
    border-radius: 5px;
    background-color: var(--upper);
}

.handle-comment .three-dot-option.active {
    display: block;
    width: auto;
    height: auto;
}

.handle-comment .three-dot-option .edit-comment,
.handle-comment .three-dot-option .del-comment {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    cursor: pointer;
}

.handle-comment .three-dot-option .edit-comment:hover,
.handle-comment .three-dot-option .del-comment:hover {
    background: var(--gradiant-primary);
    border-radius: 5px;
}

.handle-comment .three-dot-option .edit-comment .cancel-btn,
.handle-comment .three-dot-option .edit-comment .edit-btn {
    width: 100%;
    display: flex;
}

.handle-comment .del-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000080;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;

    .frame-modal {
        position: relative;
        width: 500px;
        height: 320px;

        .frame-tag-modal {
            display: flex;
            justify-content: flex-end;

            .tag-confirm-modal {
                width: 70%;
                height: 70px;
                border-top-left-radius: 30px;
                border-top-right-radius: 30px;
                background-color: var(--upper);
                box-shadow: 0 10px 0 var(--upper);
            }
        }
        .confirm-modal {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 500px;
            height: 250px;
            border-top-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-bottom-left-radius: 30px;
            background-color: var(--upper);
        }
    }

    .frame-modal::before {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        width: 30%;
        height: 70px;
        content: '';
        border-bottom-right-radius: 30px;
        box-shadow: 30px 30px 0 var(--upper);
    }

    .frame-modal::after {
        position: absolute;
        background: var(--gradiant-primary);
        top: 0;
        left: 0;
        width: calc(30% - 10px);
        height: 60px;
        content: '⚠️ Warning';
        border-radius: 30px;
        align-items: center;
        align-content: center;
        font-size: 16px;
        font-weight: bold;
    }
}

.handle-comment .del-modal.active {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.handle-comment .del-modal .confirm-user {
    font-size: 25px !important;
    font-weight: bolder;

    span {
        background: var(--gradiant-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.handle-comment .del-modal .confirm-text {
    padding-left: 0 !important;
    margin: 20px 0;
}

.handle-comment .del-modal .confirm-del {
    margin-top: 15px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.handle-comment .del-modal .confirm-del .yes-btn,
.handle-comment .del-modal .confirm-del .no-btn {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 20px;
}

.handle-comment .del-modal .confirm-del .yes-btn span,
.handle-comment .del-modal .confirm-del .no-btn span {
    font-size: 20px;
    font-weight: bold;
    color: var(--surface);
}

.handle-comment .del-modal .confirm-del .yes-btn {
    background: var(--gradiant-primary);
}

.handle-comment .del-modal .confirm-del .no-btn {
    background: transparent;
    border: 2px solid var(--secondary);
}

.handle-comment .frame-comment {
    width: 100%;
}

.handle-comment .frame-comment .comment-interaction {
    display: flex;
    font-size: 16px;
    gap: 10px;
    align-items: center;
    margin: 5px 0;
}

.handle-comment .frame-comment .comment-interaction .like-btn,
.handle-comment .frame-comment .comment-interaction .reply-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.handle-comment .frame-comment .comment-interaction .reply-btn p {
    padding-left: 5px !important;
    font-weight: 300;
}
